.container, .modal
  position fixed 
  padding 15px
  min-width 150px
  box-shadow 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
.tl, .tr
  top 0
.tl, .bl
  left 0
.tr, .br
  right 0
.bl, .br
  bottom 0
.message
 color #7494a3
 text-align center
.info
  background-color #090b0d
.warning
  background-color #FFEB3B
.alert
  background-color #F44336
.modal
  position fixed
  top 10vh
  bottom 10vw
  left 10vw
  right 10vw
  width 80vw
  height 80vh
  display flex
  flex-flow column
  justify-content center
  align-items center 
  p
    margin 10px
